.tabela{
  background-color: black;
}

.linha{
  width: 150px;
  height: 150px;
  background-color: greenyellow;
  cursor: pointer;
  text-align: center;
  font-size: 110px;
}

.invalido{
  font-size: 50px;
}