<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="CSS/index.css">
  <title>Tic-Tac-Toe</title>
</head>
<body ng-app="tic-tac-toe">
  <div ng-controller="gameController">
    <table class="tabela">
      <tr>
        <td class="linha" ng-click=""></td>
        <td class="linha" ng-click=""></td>
        <td class="linha" ng-click=""></td>
      </tr>
      <tr>
        <td class="linha" ng-click=""></td>
        <td class="linha" ng-click=""></td>
        <td class="linha" ng-click=""></td>
      </tr>
      <tr>
        <td class="linha" ng-click=""></td>
        <td class="linha" ng-click=""></td>
        <td class="linha" ng-click=""></td>
      </tr>
    </table>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="JS/index.js"></script>
</body>
</html>